@model IEnumerable<BluDataList.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Empresas</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<p>
    @Html.ActionLink("Nova Empresa", "CriaEmpresa")
</p>
<table id="tabela" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th></th>
    </tr>
    <tr>
        <th><input type="text" id="txtColuna1" /></th>
        <th><input type="text" id="txtColuna2" /></th>
        <th><input type="text" id="txtColuna3" /></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.ActionLink("Fornecedor", "Fornecedores", new { id = item.Id, uf = item.UF }) ||
                @Html.ActionLink("Excluir", "DeleEmpresa", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/FiltroFornecedor.js"></script>